.About{
    height: fit-content;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:30px;
    flex-direction: row;
}

.about-header{
    width:25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.about-content{
    width: 50%;
    font-family: "Roboto", serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size:  18px;
    text-align: left;
}

.invisible{
    visibility: hidden;
}

.slide-up-visible{
    visibility: visible;
    animation: appear-animation 1000ms ease-in-out;
}

.left-to-right-visible{
    visibility: visible;
    animation: slide-in-animation 500ms ease-in-out;
}

@keyframes slide-in-animation {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-animation {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 1000px) {
    .About{
        flex-direction: column;
    }
    .about-content{
        width: 65%;
        text-align: center;
    }
    .invisible{
        visibility: visible !important;
    }
    .slide-up-visible{
        visibility: visible;
        animation: none;
    }

    .left-to-right-visible{
        visibility: visible;
        animation: none;
    }
}

@media (max-width: 576px){
    .about-content{
        width: 80%;
        word-spacing: 2px;
        text-align: center;
    }
}
