@import url('https://fonts.googleapis.com/css?family=Lobster|Baloo+2&display=swap');

.Gallery {
    font-size: 50px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.gallery-header {
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
}

.swiper-container {
    width: 80%;
    height: 75%;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: fit-content;
    max-width: fit-content;
}

.logo {
    width: 100%;
    height: 100%;
}

.center {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
    color: #fff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #ff1744 !important;
    color: #fff !important;
    opacity: 1 !important;
}

.gallery-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-family: 'Lobster', cursive;
    box-shadow: none;
    transition: all 500ms;
}

.gallery-text:hover {
    transition: all 500ms;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.6);
}

.gallery-text p {
    margin: 0 0 0 10px;
    color: #aaaaaa;
    font-size: 48px;
    opacity: 0;
    transition: all 500ms;
}

.gallery-text:hover p {
    opacity: 1;
    transition: all 500ms;
}

